<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reportes</title>
  </head>
  <body>
    <h1>Reportes</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
      obcaecati? Sunt adipisci voluptates distinctio? Repellat ex quas eveniet
      repellendus minus iusto soluta esse. Autem eos aliquam facere dicta totam
      ipsum.
    </p>
  </body>
</html>
